<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <img src="{{pokemon.imageAvatar}}" alt="" mat-card-avatar>
      <mat-card-title>{{pokemon.name}}</mat-card-title>
      <mat-card-subtitle>N.°{{pokemon.position}}</mat-card-subtitle>
    </mat-card-header>
    <div class="pokemon-details-top">
      <div class="option">Peso: {{pokemon.weight}}</div>
      <div class="option">Alto: {{pokemon.height}}</div>
    </div>
    <mat-card-content>
      <div class="group-content">
        <div class="pokemon-type">
          <img mat-card-image src="{{pokemon.image}}" alt="foto pokemon">
          <div class="type-details" >
            <div class="item-type" *ngFor="let type of pokemon.types">{{type.type.name}}</div>
          </div>
        </div>
        <section class="pokemon-details" >
          <div class="details-header"><h3 class="details-title">Habilidades</h3></div>
          <div class="details-container" *ngFor="let ability of pokemon.abilities | slice: 0:5">
            {{ability.ability.name}}
          </div>
        </section>
      </div>
      <div class="group-content">
        <section class="pokemon-details" >
          <div class="details-header"><h3 class="details-title">Movimientos</h3></div>
          <div class="details-container" *ngFor="let move of pokemon.moves | slice: 0:5">
            {{move.move.name}}
          </div>
        </section>
        <section class="pokemon-details" >
          <div class="details-header"><h3 class="details-title">Evoluciones</h3></div>
          <div class="details-container" *ngFor="let evolution of evolutions">
            {{evolution}}
          </div>
        </section>
      </div>
    </mat-card-content>
  </mat-card>

</div>
